.App {
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.charts {

  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#message {
  margin-top: 50px;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  font-size: 18px;
}

.dropdowncontainer {
  display: flex;
  flex-direction: row;
}

.dropdown {
  flex: 1
}